<section class="import-csv-section">
    <div>
        <label>בחר רשימת תפוצה</label>
        <select *ngIf="selectList && selectList.length" [(ngModel)]="form.selected" class="col-sm-6 form-control" >
          <option *ngFor="let o of selectList" [ngValue]="o.id">{{o.name}}</option> 
        </select>
    </div>
  <button type="button" class="btn btn-primary" (click)="openModal(template)">ייבוא קובץ CSV</button> 
 
  <ng-template #template>
      <div class="modal-header">
          <button type="button" class="close pull-left" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
        <h4 class="modal-title">יצירת רשימת תפוצה חדשה</h4>           
      </div>
      <div class="modal-body">
        <div class="row col-sm-12">
          <form class="form-horizontal">
              <div class="form-group csv-file-chooser-section">
                  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)" accept=".csv" />                
                </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="groupName">בחר שם לרשימה: </label>
                <div class="col-sm-7">
                  <input class="form-control" type="text"  name="groupName" [(ngModel)]="form.groupName"  />
                </div>
            </div>            
          </form>
        </div> 
        <div  *ngIf="csvRecords && csvRecords.length" class="csv-result-table">
          <h5>תוכן הקובץ</h5>
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th *ngFor="let col of headers">{{col}}</th>      
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let csvData of csvRecords;let i = index;">
                  <td>{{i+1}}</td>
                  <td *ngFor="let col of headers;let y = index">
                    <span>{{csvData[y]}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>          
      
      </div>
      <div class="modal-footer">
          <button type="button"  class="btn btn-danger pull-left" aria-label="Close" (click)="modalRef.hide()">
            <span class="glyphicon glyphicon-remove"></span>
              ביטול</button>
          <button type="button"  class="btn btn-primary pull-left" (click)="import()">
              <span class="glyphicon glyphicon-ok"></span>
             ייבוא רשימה                
          </button>         
      </div>
    </ng-template>
</section>

