.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img.logo {
  height: 52px;
  margin: 6px 0 2px 8px;
  float: right;
}
.user-nav {
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  margin-top: 12px;
}

.navbar-header {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse {
  padding-right: 0;
}

a.navbar-brand {
  padding: 0;
}

.navbar-brand strong {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  color: black;
  padding-bottom: 5px;
  margin-top: 18px; 
}

ul.nav.navbar-nav {
  cursor: pointer;
}

  ul.nav.navbar-nav > li {
    padding-right: 10px;
  }
